# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Save Filepath
cities_csv = "cities.csv"

In [3]:
# Set csv file to DataFrame
city_data = pd.read_csv(cities_csv)
city_data.head()

,City,Latitude,Longitude,Country,Date,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,Denpasar,-8.65,115.22,ID,1595283112,78.80,88,75,13.87
1,Sola,-13.88,167.55,VU,1595283510,80.60,69,75,5.82
2,Saint Paul Harbor,57.79,-152.41,US,1595283024,73.40,46,1,14.99
3,Pervomayskoye,43.92,46.71,RU,1595283510,76.82,77,2,3.85
4,Chui,-33.70,-53.46,UY,1595283313,68.16,84,100,8.52

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [95]:
# Set up Map components. Location (lat/lng) and Humidity
location = city_data[['Latitude', 'Longitude']]
humidity = city_data['Humidity']

center_coord = (0.00, 0.00)
# Plot Heatmap
figure_layout = {'width': '600px', 'height': '400px', 'border': '1px solid black',
                'padding': '1px', 'margin': '0 auto 0 auto'}
fig = gmaps.figure(layout=figure_layout, center=center_coord, zoom_level=1.5)

# Add Humidity Layer to Heatmap
heat_layer = gmaps.heatmap_layer(location, weights=humidity, dissipating=False, point_radius=1.5, max_intensity = 100)

# Add heatlayer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [86]:
# Set personalized conditions and set to new DataFrame
myFav = (city_data['Temperature']>70) & (city_data['Temperature']<80) & (city_data['Cloudiness']<20) & (city_data['Humidity']<60) & (city_data['Wind Speed (mph)']<8)
ideal_city = city_data.loc[myFav, :]
ideal_city.head()

,City,Latitude,Longitude,Country,Date,Temperature,Humidity,Cloudiness,Wind Speed (mph)
24,Presidente Dutra,-5.29,-44.49,BR,1595283514,79.66,51,6,2.51
29,Porangatu,-13.44,-49.15,BR,1595283395,73.92,35,19,2.77
87,Huéscar,37.81,-2.54,ES,1595283526,73.99,54,1,4.85
109,Piranhas,-16.43,-51.82,BR,1595283531,75.96,39,0,4.94
151,Embu,-23.65,-46.85,BR,1595283539,71.01,49,0,1.12

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [87]:
# Copy drilled down dataframe to new dataframe. Since ideal_city.df is mapped with multiple locs, a new df will
# make adding a column and iterating easier
new_ideal = ideal_city.copy()

In [88]:
from pprint import pprint

# Add and empty column and call it "Hotel". The first hotel found in each target city will populate in this column
new_ideal['Hotel'] = np.nan
new_ideal.head()

,City,Latitude,Longitude,Country,Date,Temperature,Humidity,Cloudiness,Wind Speed (mph),Hotel
24,Presidente Dutra,-5.29,-44.49,BR,1595283514,79.66,51,6,2.51,NaN
29,Porangatu,-13.44,-49.15,BR,1595283395,73.92,35,19,2.77,NaN
87,Huéscar,37.81,-2.54,ES,1595283526,73.99,54,1,4.85,NaN
109,Piranhas,-16.43,-51.82,BR,1595283531,75.96,39,0,4.94,NaN
151,Embu,-23.65,-46.85,BR,1595283539,71.01,49,0,1.12,NaN

In [29]:
import json

# Loop through the target cities and perform an API call to obtain Hotel information. The first hotel found
# will populate in the "Hotel" column
params = {"radius": 5000, "keyword": "Hotel",
          "types": "lodging", "key": g_key}
for index, row in new_ideal.iterrows():
    lat = row['Latitude']
    lng = row['Longitude']
    
    params['location'] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    hotel_location = requests.get(base_url, params=params)
    
    hotel_location = hotel_location.json()
    
    try:
        new_ideal.loc[index, 'Hotel'] = hotel_location['results'][0]['name']
    
    except:
        print("Missing data/field. Skip and continue.")
        
#pprint(hotel_location)

Missing data/field. Skip and continue.
Missing data/field. Skip and continue.

In [41]:
# Drop rows with missing data and write this dataframe to a csv file
new_ideal = new_ideal.dropna(how='any')
new_ideal.head(11)

,City,Latitude,Longitude,Country,Date,Temperature,Humidity,Cloudiness,Wind Speed (mph),Hotel
24,Presidente Dutra,-5.29,-44.49,BR,1595283514,79.66,51,6,2.51,Hotel Colibri
29,Porangatu,-13.44,-49.15,BR,1595283395,73.92,35,19,2.77,Lagoa Hotel Porangatu
87,Huéscar,37.81,-2.54,ES,1595283526,73.99,54,1,4.85,Hotel El Maño
109,Piranhas,-16.43,-51.82,BR,1595283531,75.96,39,0,4.94,Tropical Palace Hotel
151,Embu,-23.65,-46.85,BR,1595283539,71.01,49,0,1.12,Hotel Rancho Silvestre
326,Pozo Colorado,-23.49,-58.80,PY,1595283573,79.48,44,0,6.35,Hospedaje la Amistad
330,Zhezkazgan,47.80,67.71,KZ,1595283574,75.99,31,1,7.49,Kosmos
436,Charagua,-19.80,-63.22,BO,1595283596,75.97,54,13,7.54,Residencial Luismar
519,Pereira Barreto,-20.64,-51.11,BR,1595283617,74.35,43,5,5.86,Hotel Pousada Pantal

In [42]:
new_ideal.to_csv("vacation_cities.csv", encoding="utf-8", index=False)

In [90]:
# Set drilled down vacation dataframe to new dataframe to fix error
hotel_df = new_ideal

In [91]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [92]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', margin='0 auto 0 auto', padding='1px', wi…